:root {
  --myFont-family: 'Archivo', sans-serif;
  --myFont-familyTwo: 'Bebas Neue',sans-serif;
  --color-Primary: hsl(229, 67%, 62%);

}

body {
  background-color: var(--color-Primary);
}
.container {
   font-size: 20px; 
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

h1 {
  font-family: var(--myFont-familyTwo);
  font-size: 70px;
  color: aliceblue;
  padding:5px;
}

h1:hover,
h1:focus{
  outline-offset: 3px;
}


.container p {
  text-align: center;
  padding: 5%;
  font-weight: bold;
  border-radius: 20px;
  transform: 0.8s;
  border: solid 1px #79af23;

}
p:hover{
  background-color: #5139d846;
  color: #ffffff;
}
.image{
  align-items: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.tableCon{
  width: 100%;
  margin-right: 4.5%;
}

table {
  width: 100%;
  margin-top: 20px;
  table-layout: auto;
  border-collapse: collapse;
  border: 2px solid #0f0f0f;
  /* border: 2px solid #000000; */
}
.imageOne{
  margin-left: 18%;
  margin-right: 18%;
}

.imageOne img{
  transition: transform 0.8s;
  object-fit: cover;
  min-width: 10px;
  float: inherit;
}
.imageOne{
  border-radius: 20px;
  overflow: hidden;
  object-fit: contain;
  justify-content: center;
}

img:hover{
  transform: scale(1.5);
}

th{
  padding: 20px;
  background-color: #79af23;
  border: 1px solid#ffffff;
}

td {
  background-color: #0f0f0f;
  color: aliceblue;
  padding: 15px;
  border: 1px solid#ffffff;
}

td:hover {
  color: #0f0f0f;
  background-color: rgb(168, 168, 68);
}